# Ambiente Virtual
venv/
env/
.venv/
.env/

# Arquivos de cache e compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pastas de configuração de IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# Arquivos de dependências e builds
*.egg-info/
dist/
build/

# Pastas de Relatórios de Teste e Cobertura
.pytest_cache/
htmlcov/
.coverage

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db